{
  "presets" : ["@babel/preset-react", [
    "@babel/env",
    {
      "loose": true,
      "modules": false,
      "targets": {
        "browsers": [
          ">1%"
        ]
      },
      "useBuiltIns": "usage"
    }
  ]],
  "plugins": ["transform-class-properties"]
}