doctype html
html
  head
    title gitadora skill share
    script(type='text/javascript' src='js/index.js').
  body
    p Gitadora Skill Share
    p 手順
    p 
      a 1.
      a(href="https://p.eagate.573.jp/gate/p/login.html" target="_blank") コナミ様のサイト
      a にログイン
    p 2.ブックマークに下記のスクリプトを登録(イメージ必要)
      pre javascript:void(!function(d){var s =d.createElement("script");s.type="text/javascript";s.src="http://127.0.0.1:3000/js/getdata.js";d.head.appendChild(s);}(document));
    p 3.コナミのサイトでブックマークをクリックしてデータをGET(イメージ)
    p 4.完成。シェア用URLは
      a(href="/guitar") こちら
