doctype html
html
  head
    title gitadora skill viewer
    link(rel="stylesheet" type="text/css" href="/css/index.css")
    link(rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Andada")
    script(type='text/javascript' src='//code.jquery.com/jquery-1.12.4.min.js')
    script(type='text/javascript' src='js/index.js')
  body
    table(class="main")
      tr
        td
          span(class="title") Gitadora Skill Viewer 
          span(class="title_version") v1.0.0
      tr(class="subtitle" id="sub1")
        td なにこれ？
      tr
        td
          div(class="block" id="block1")
            p コナミ様のサイトからギタドラのスキルデータを取得し、スキル表を公開するためのウェブサイトです。
      tr(class="subtitle" id="sub2")
        td 使い方
      tr
        td
          div(class="block" id="block2")
            div(class="subsubtitle" id="subsub1") スキルデータのアップロード
            div(class="subblock" id="subblock1")
              p 1.ブックマークに下記のスクリプトを登録
              pre javascript:void(!function(d){var s =d.createElement("script");s.type="text/javascript";s.src="http://gitadora-skill-viewer.herokuapp.com/js/uploaddata.js";d.head.appendChild(s);}(document));
              p 
                img(src="image/1-1.jpeg")
              p 2.
                b コナミ様のサイトにログインした状態で
                a 、登録されたブックマークをクリック
              img(src="image/1-2.jpeg" width="80%")
              p 3.データのアップロードが終わったらすぐ（約5秒）スキル表示画面への遷移が行われます。
                b 遷移先のURLを覚えておいてください
              img(src="image/1-3.jpeg" width="80%")
            div(class="subsubtitle" id="subsub2") スナップショット（永久保存）
            div(class="subblock" id="subblock2") 
              p 1.スキル表一番下の"このスキル表を永久に保存したい!"ボタンをクリックし、出てくるダイアログを確認
              p
                img(src="image/2-1.jpeg")
              p
                img(src="image/2-2.jpeg")
              p 2.OKを押して、スキルデータが保存された後、ページ遷移が行われます。
                b 遷移先のURLを覚えておいてください
              p
                img(src="image/2-3.jpeg" width="80%")
      tr(class="subtitle" id="sub3")
        td 仕様説明
      tr
        td
          div(class="block" id="block3")
            p 1.アップロードする時、古いデータが
              b 上書き
              span されます。古いデータを保存したい場合には
              b スナップショット機能
              span を利用してください。
            p 2.コナミ様のサイトから取得するデータは
              b プレイヤーネームとスキルに関する情報のみ
              span となります。
            p 3.ある程度の専門知識を持っている方なら
              b スキルデータを改竄することが可能です
              span 。このサイトに載せているデータが全部真実であること、かつ、アップロードされたデータが改竄されないことについての保証ができかねます。
      tr(class="subtitle" id="sub4")
        td その他
      tr
        td
          div(class="block" id="block4")
            p ★ソース：
              a(href="https://github.com/matsumatsu233/gitadora-skill-viewer" target="_blank") Github
            p ★不具合報告、ご意見など：
              a(href="https://ssdh233wordpresscom.wordpress.com/2016/09/15/gitadora-skill-viewer/" target="_blank") Blog
            p ここの日本語がおかしい！とか、スキル表をこうしたらもっと綺麗にできるよ！とか、何かあったらBlogでコメントして頂けると嬉しいです。
            p 不具合報告の場合、ご使用中の
              b OSとブラウザ
              span を報告して頂けると助かります。
            p ★推奨ブラウザ
            p Chrome, Safari
            p ★スマホでのご利用について
            p パソコンだけに対応するつもりですから、スマホに応じての調整が行われていないため、スマホでは非常に見にくいと思います。もしご要望があったら今後対応するかもしれません。