.skill_table {
  background-color: #FFFFFF;
  border: 0 none;
  font-family: verdana;
  font-size: 90%;
}

.skill_table th {
  background-color: #5882FA;
  padding: 2px 2px 2px 2px;
}

.skill_table td {
  padding: 2px 2px 2px 2px;
  height: 20px;
}

.skill_table .name {
  width: 400px;
}

.skill_table .diff {
  width: 100px;
  text-align: center;
}

.skill_table .achieve {
  width: 80px;
  text-align: center;
}

.skill_table .skill {
  width: 80px;
  text-align: center;
}

.BAS {
  background-color:#C7E7FF;
}

.ADV {
  background-color:#FFFFC7;
}

.EXT {
  background-color:#FFC7C7;
}

.MAS {
  background-color:#D8BFF8;
}
