body {
  font-family: verdana;
}

.main {
  width: 100%;
}

.main .title {
  font-size: 200%;
  font-family: Andada;
  font-weight: bold;
}

.main .title_version {
  font-family: Andada;
  font-weight: bold;
}

.main div.script {
  background: #f6f6f6;
  padding: 20px;
  border-radius: 6px;
  font-size: 80%;
}

span.buttons {
  float: right;
  margin-top: 10px;
}
