.lv0, .lv1 {
  color: #FFFFFF;
}

.lv2, .lv3 {
  color: #FFFF99;
}

.lv4 {
  color: #FFFF00;
}

.lv5 {
  background: -webkit-linear-gradient(#FFFF00, #FFFFFF);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.lv6 {
  color: #33FF00;
}

.lv7 {
  background: -webkit-linear-gradient(#33FF00, #FFFFFF);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.lv8 {
  color: #3366FF;
}

.lv9 {
  background: -webkit-linear-gradient(#3366FF, #FFFFFF);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.lv10 {
  color: #FF00FF;
}

.lv11 {
  background: -webkit-linear-gradient(#FF00FF, #FFFFFF);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.lv12 {
  color: #FF0000;
}

.lv13 {
  background: -webkit-linear-gradient(#FF0000, #FFFFFF);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.lv14 {
  color: #DD8844;
}

.lv15 {
  color: #C0C0C0;
}

.lv16 {
  color: #FFD700;
}

.lv17, .lv18  {
  background-image: -webkit-gradient( linear, left top, right bottom, color-stop(0.1, #f22), color-stop(0.2, #f2f), color-stop(0.35, #22f), color-stop(0.5, #2ff), color-stop(0.65, #2f2), color-stop(0.8, #ff2) );
  color:transparent;
  -webkit-background-clip: text;
  background-clip: text;
}