@import url("skill_color.css");

body {
  font-family: verdana;
  font-size: 90%;
}

.profile_table {
  background-color: #000000;
  border: 0 none;
}

.profile_table tr:first-child td {
  color: #FFFFFF;
  background-color: #333333;
}

.profile_table td {
  padding: 2px 10px 2px 10px;
  height: 20px;
}

.skill_table {
  background-color: #FFFFFF;
  border: 0 none;
}

.skill_table th {
  background-color: #5882FA;
  padding: 2px 2px 2px 2px;
}

.skill_table td {
  padding: 2px 2px 2px 2px;
  height: 20px;
}

.skill_table .name {
  width: 400px;
}

.skill_table .diff {
  width: 100px;
  text-align: center;
}

.skill_table .achieve {
  padding-left: 20px;
  padding-right: 10px;
  text-align: left;
}

.skill_table th.achieve {
  padding: 0px;
  text-align: center;
}

.skill_table .skill {
  width: 80px;
  text-align: center;
}

.BAS {
  background-color:#C7E7FF;
}

.ADV {
  background-color:#FFFFC7;
}

.EXT {
  background-color:#FFC7C7;
}

.MAS {
  background-color:#D8BFF8;
}

.save input[type=submit] {
  font-size: 100%;
}

.footer a {
  font-size: 90%;
}

.snapshot {
  background-color: #000000;
  border: 0 none;
}

.snapshot tr:first-child td {
  color: #FFFFFF;
  background-color: #333333;
}

.snapshot td {
  font-size: 90%;
  padding: 3px;
}

.snapshot a {
  text-decoration: none;
}