body {
  font-family: verdana;
  font-size: 90%;
}

.profile_table {
  background-color: #000000;
  border: 0 none;
}

.profile_table tr:first-child td {
  color: #FFFFFF;
  background-color: #333333;
}

.profile_table td {
  padding: 2px 10px 2px 10px;
  height: 20px;
}

.lv0, .lv1 {
  color: #FFFFFF;
}

.lv2, .lv3 {
  color: #FFFF99;
}

.lv4 {
  color: #FFFF00;
}

.lv5 {
  background: -webkit-linear-gradient(#FFFF00, #FFFFFF);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.lv6 {
  color: #33FF00;
}

.lv7 {
  background: -webkit-linear-gradient(#33FF00, #FFFFFF);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.lv8 {
  color: #3366FF;
}

.lv9 {
  background: -webkit-linear-gradient(#3366FF, #FFFFFF);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.lv10 {
  color: #FF00FF;
}

.lv11 {
  background: -webkit-linear-gradient(#FF00FF, #FFFFFF);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.lv12 {
  color: #FF0000;
}

.lv13 {
  background: -webkit-linear-gradient(#FF0000, #FFFFFF);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.lv14 {
  color: #DD8844;
}

.lv15 {
  color: #C0C0C0;
}

.lv16 {
  color: #FFD700;
}

.lv17, .lv18  {
  background-image: -webkit-gradient( linear, left top, right bottom, color-stop(0.1, #f22), color-stop(0.2, #f2f), color-stop(0.35, #22f), color-stop(0.5, #2ff), color-stop(0.65, #2f2), color-stop(0.8, #ff2) );
  color:transparent;
  -webkit-background-clip: text;
  background-clip: text;
}

.skill_table {
  background-color: #FFFFFF;
  border: 0 none;
}

.skill_table th {
  background-color: #5882FA;
  padding: 2px 2px 2px 2px;
}

.skill_table td {
  padding: 2px 2px 2px 2px;
  height: 20px;
}

.skill_table .name {
  width: 400px;
}

.skill_table .diff {
  width: 100px;
  text-align: center;
}

.skill_table .achieve {
  width: 80px;
  text-align: center;
}

.skill_table .skill {
  width: 80px;
  text-align: center;
}

.BAS {
  background-color:#C7E7FF;
}

.ADV {
  background-color:#FFFFC7;
}

.EXT {
  background-color:#FFC7C7;
}

.MAS {
  background-color:#D8BFF8;
}

.save input[type=submit] {
  font-size: 100%;
}

.footer a {
  font-size: 90%;
}

.snapshot {
  background-color: #000000;
  border: 0 none;
}

.snapshot tr:first-child td {
  color: #FFFFFF;
  background-color: #333333;
}

.snapshot td {
  font-size: 90%;
  padding: 3px;
}

.snapshot a {
  text-decoration: none;
}