@import url("skill_color.css");

body {
  font-family: verdana;
  font-size: 90%;
}

.userlist {
  color: #FFFFFF;
  background-color: #000000;
  border: 0 none;
}

.userlist tr:first-child td {
  color: #FFFFFF;
  background-color: #333333;
}

.userlist td {
  padding: 2px 10px 2px 10px;
  height: 20px;
}