@import url("skill_color.css");

body {
  font-family: verdana;
  font-size: 90%;
}

.main {
  border-collapse: collapse;
}

.title {
  font-size: 120%;
  font-family: Andada;
  font-weight: bold;
  text-align: center;
}

.userlist {
  color: #FFFFFF;
  background-color: #000000;
}

.userlist .head td {
  color: #FFFFFF;
  background-color: #333333;
}

.userlist .head th {
  height: 20px;
  padding: 2px 10px 2px 10px;
  color: #FFFFFF;
  background-color: #333333;
  font-weight: normal;
  text-align: left;
}

.userlist td {
  padding: 2px 10px 2px 10px;
  height: 20px;
}

.userlist a {
  text-decoration: none;
}