$mobile-width: 742px;

@mixin mobile {
  @media (max-width: #{$mobile-width}) {
    @content;
  }
}

.indexPage {
  font-family: verdana;
  width: 100%;

  > div {
    margin-bottom: 5px;
  }

  img {
    max-width: 100%;
  }

  .header {
    display: flex;
    flex-wrap: wrap;

    .title {
      flex-grow: 1;
      font-size: 200%;
      font-family: Andada;
      font-weight: bold;

      @include mobile {
        width: 100%;
        font-size: 150%;
      }

      .version {
        font-size: 50%;
      }
    }

    .buttons {
      margin-top: 10px;

      @include mobile {
        width: 100%;
        display: flex;
        justify-content: flex-end;
      }
    }
  }

  .script {
    background: #f6f6f6;
    padding: 20px;
    border-radius: 6px;
    font-size: 80%;
    word-break: break-all;
  }
}



a {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}